footer {
  background-color: hsl(0, 0%, 20%);

  display: grid;

  .line {
    border: 1px solid hsl(240, 100%, 50%);
    height: 5px;

    background-color: hsl(240, 100%, 50%);
  }

  p {
    color: hsl(0, 0%, 100%);
  }

  ul {
    li {
      display: grid;
      place-items: center;
    }
  }
}
