section#paste{
    display: grid;
    justify-content: center;

    .ex-0{
        font-size: 25px;
    }
    .box{
        display: flex;
        justify-content: space-between;
        justify-items: center;

        border: black solid 1px;

        gap: 10px;

        .link-box{
            color: #4c4c4c;
            font-size: 19px;

        }
        .shorten-url{
            color: white;
            background-color: #2c87c5;
            padding-inline-start: 15px;
            padding-block: 15px;
            font-size: 16px;
            border-style: none;


        }
    }
    .ex-1{

    }
    .ex-2{

    }

}