section#paste {
  max-width: 50rem;
  margin: auto;

  padding: 1.25rem 1.25rem;

  h2 {
    font-size: 2rem;

    text-align: center;

    color: hsl(0, 0%, 19%);
  }

  p {
    text-align: center;
  }

  form {
    display: flex;

    .input {
      flex: 1 1 0;

      font-size: 1.25rem;

      color: hsl(0, 1%, 46%);

      border: 1px solid hsl(0, 0%, 80%);
      border-inline-end: none;

      border-start-start-radius: 0.25rem;
      border-end-start-radius: 0.25rem;
    }

    button {
      padding: 1.25rem 1.5rem;

      border-end-end-radius: 0.25rem;
      border-start-end-radius: 0.25rem;

      color: hsl(0, 0%, 100%);
      background-color: hsl(204, 63%, 47%);
      font-size: 1rem;

      font-weight: 700;
      border: none;
    }
  }
}
