section#paste {
  display: grid;

  padding-inline: 300px;

  .box {
    display: inline-grid;

    border-radius: 10px;

    padding-inline: 50px;
    padding-block: 25px;

    box-shadow:
      2px 2px 1px #cfcccc,
      -2px -2px 1px #cfcccc;

    background-color: white;

    h2 {
      font-size: 35px;

      text-align: center;

      color: #303030;
    }

    .link-to-paste {
      display: flex;

      input {
        flex: 1 1 0;

        padding-inline: 20px;

        font-size: 20px;

        color: #777575;

        border: 1px solid #ccc;
        border-inline-end: none;

        border-start-start-radius: 5px;
        border-end-start-radius: 5px;
      }

      .shorten-url {
        padding-block: 20px;
        padding-inline: 25px;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        color: white;
        background-color: #2c87c5;
        font-size: 15px;

        font-weight: bold;
        border-style: none;
      }
    }
    p {
      text-align: center;

      font-size: 18px;
    }
  }
}
