section#premium {
  max-width: 800px;
  margin: auto;

  padding: 20px 20px;

  .card {
    border-radius: 10px;

    padding-inline: 50px;
    padding-block: 25px;

    background-color: white;

    h2 {
      text-align: center;
      color: #303030;
      font-size: 30px;
    }

    a {
      justify-self: center;
      text-align: center;

      padding: 25px 25px;

      text-decoration: none;
      color: white;
      background-color: #2c87c5;

      border-radius: 5px;

      font-size: 15px;
      font-weight: 700;
    }
  }
}
